@keyframes animateHeart{
  40%{transform:scale(.8);}
  100%{transform:scale(1);}
}

@keyframes animateHeart2{
  100%{transform:scalex(1);}
}

@keyframes progress-bar{
  0% {
    transform: scale(0);
    opacity:0;
  }
  100% {
    transform: scale(1); 
		opacity:100%;
  }
}

@keyframes circule {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes bloque {
  from {opacity:1;}
  to {opacity:0; transform: scale(0);}
}

@keyframes lance {
  from {transform: scale(0);}
  to {transform: scale(1);}
}