#restaurants{
    margin:50px 0 0;
	padding:55px 20px 50px;
	background: $bg;
    & h2{
        @extend %typography;
    }
    & .container{
        @include container(column, nowrap);
        margin-top:20px;
        @extend  %typography-container;
    }
    & .item {
        background: $colour-white;
        border-radius: 20px;
        margin: 0 0 20px;
        padding:0;	
        box-shadow: 2px 10px 10px rgba(0,0,0,0.04);
        @extend %typography-item;
        @extend %typography-margin-item;

    }
    & img {
        width:100%;
        border-top-right-radius:20px;
        border-top-left-radius:20px;
    }
    & p{
        display:inline-block;
        padding: 15px 15px;
        font-weight: 600;
        font-size:18px;
    }
    & span{
        display:block;
        font-weight: 300;
    }
    & i{
        display:inline-block;
        margin: 20px 20px;
        vertical-align:top;
        text-align: right;
    }
    & .fa-heart{
        @extend %typography-like;
    }

}