$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$map-bg: #EAEAEA;
$bg: #f6f6f6;
$colour-border: #d4d4d4;
$colour-white: #fff;
$colour-black: #000;
$colour-blue:#3498db;
$border-boxs: border-box;

